<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>De Social Media</title>
    <meta name="description" content="Este es el sitio web de ...">
    <meta name="keywords" content="palabras clave ...">
    <!-- Imagen para el título de la pestaña -->
    <link rel="icon" type="favicon/x-icon" href="../img/iconos/favicon-DeSocialMedia.jpg" content="Social Media">
    <!-- Enlaces a fuente de google fonts: letra "Nunito" -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap" rel="stylesheet">
    <!-- Enlaces a fuente de Google fonts: "Open Sans"-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <!-- Enlace FontAwesome -->
    <script src="https://kit.fontawesome.com/febc0fa0b3.js" crossorigin="anonymous"></script>
    <!-- Enlace a Owl Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Enlace a AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Enlace a css de bootstrap local-->
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.css">
    <!-- Enlace a css local -->
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body id="pageTop">

    <!-- Acá empieza el header. Navigation-->
    <header class="overflow-hidden header__servicios">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand text-lowercase" href="../index.html">
                    <img class="img-fluid logo sombra" src="../img/logo.png" alt="Logo de De Social Media">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="../index.html#pageTop">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="../index.html#seccion-nosotros">Nosotros</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#pageTop"
                                id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Servicios
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Marketing</a></li>
                                <li><a class="dropdown-item" href="#">Publicidad</a></li>
                                <li><a class="dropdown-item" href="#">Fotografía</a></li>
                                <li><a class="dropdown-item" href="#">Diseño gráfico</a></li>
                                <li><a class="dropdown-item" href="#">Páginas web</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#">Trabajos</a></li>
                        <li class="nav-item"><a class="nav-link" href="../index.html#seccion-contacto">Contactanos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container servicios__container">
            <div class="servicios__icono" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0">
                <img src="../img/iconos/FotografiaIcono.png" alt="">
            </div>
            <div class="textos__servicios text-center mt-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                <h2 class="text-uppercase text-white">Fotografía</h2>
                <h3 class="text-white mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, temporibus.</h3>
            </div>
        </div>
    </header>
    <!-- Acá termina el header -->

    <!-- Sección de fotografías -->
    <section class="seccion-galeria">
        <div class="container-fluid">
            <div class="row">
                <div class="nuestros-proyectos d-flex flex-column">
                    <h2 class="text-white" data-aos="fade-right" data-aos-duration="1000">NUESTROS PROYECTOS</h2>
                    <span class="servicios--linea" data-aos="fade-right" data-aos-duration="1500"></span>
                </div>
            </div>
        </div>
        <!-- Galería de fotografías -->
        <div class="gallery-container">
            <div class="gallery__item">
                <img src="../img/img-contacto-prueba3.jpg" alt="" class="gallery__img">
            </div>

            <div class="gallery__item">
                <img src="../img/img-contacto-prueba3.jpg" alt="" class="gallery__img">
            </div>

            <div class="gallery__item">
                <img src="../img/img-contacto-prueba3.jpg" alt="" class="gallery__img">
            </div>

            <div class="gallery__item">
                <img src="../img/img-contacto-prueba3.jpg" alt="" class="gallery__img">
            </div>

            <div class="gallery__item">
                <img src="../img/img-contacto-prueba3.jpg" alt="" class="gallery__img">
            </div>

            <div class="gallery__item">
                <img src="../img/img-contacto-prueba3.jpg" alt="" class="gallery__img">
            </div>

            <div class="gallery__item">
                <img src="../img/img-contacto-prueba3.jpg" alt="" class="gallery__img">
            </div>

            <div class="gallery__item">
                <img src="../img/img-contacto-prueba3.jpg" alt="" class="gallery__img">
            </div>
        </div>
    </section>

    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="cajaFooter p-5">
                    <div class="col-lg-4 d-flex justify-content-center">
                        <a href="#"><img class="logo-footer sombra" src="../img/logo.png"
                                alt="Logo de De Social Media"></a>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center">
                        <h6 class="text-white text-center">De Social Media &copy; - Todos los derechos reservados</h6>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center">
                        <div class="logosSocialesContainer">
                            <a href="#"><i class="fab fa-whatsapp redes-sociales"></i></a>
                            <a href="#"><i class="fab fa-instagram redes-sociales"></i></a>
                            <a href="#"><i class="fab fa-facebook redes-sociales"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in redes-sociales"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Enlace a JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Enlace a Owl Carousel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Enlace a AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- Enlace a JavaScript de bootstrap local -->
    <script src="../assets/bootstrap/js/bootstrap.js"></script>
    <!-- Enlace a Javascript Propio -->
    <script src="../assets/js/main.js"></script>
</body>

</html>