<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>De Social Media</title>
    <meta name="description" content="Este es el sitio web de ...">
    <meta name="keywords" content="palabras clave ...">
    <!-- Imagen para el título de la pestaña -->
    <link rel="icon" type="favicon/x-icon" href="../img/iconos/favicon-DeSocialMedia.jpg" content="Social Media">
    <!-- Enlaces a fuente de google fonts: letra "Nunito" -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap" rel="stylesheet">
    <!-- Enlaces a fuente de Google fonts: "Open Sans"-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <!-- Enlace FontAwesome -->
    <script src="https://kit.fontawesome.com/febc0fa0b3.js" crossorigin="anonymous"></script>
    <!-- Enlace a Owl Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Enlace a AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Enlace a css de bootstrap local-->
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.css">
    <!-- Enlace a css local -->
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body id="pageTop">

    <!-- Acá empieza el header. Navigation-->
    <header class="overflow-hidden header__servicios">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand text-lowercase" href="../index.html">
                    <img class="img-fluid logo sombra" src="../img/logo.png" alt="Logo de De Social Media">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="../index.html#pageTop">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="../index.html#seccion-nosotros">Nosotros</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#pageTop"
                                id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Servicios
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Fotografía</a></li>
                                <li><a class="dropdown-item" href="edicion-de-video.html">Edición de video</a></li>
                                <li><a class="dropdown-item" href="eventos.html">Eventos</a></li>
                                <li><a class="dropdown-item" href="diseno-grafico.html">Diseño gráfico</a></li>
                                <li><a class="dropdown-item" href="paginas-web.html">Páginas web</a></li>
                                <li><a class="dropdown-item" href="marketing.html">Marketing</a></li>
                                <li><a class="dropdown-item" href="community.html">Community Manager</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="trabajos.html">Trabajos</a></li>
                        <li class="nav-item"><a class="nav-link" href="../index.html#seccion-contacto">Contactanos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container servicios__container">
            <div class="servicios__icono" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0">
                <img src="../img/iconos/FotografiaIcono.png" alt="">
            </div>
            <div class="textos__servicios text-center mt-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                <h2 class="text-uppercase text-white">Fotografía</h2>
                <h3 class="text-white mt-2">Captura y edición de fotografías, recortes, filtros y photoshop</h3>
            </div>
        </div>
    </header>
    <!-- Acá termina el header -->

    <!-- Sección de fotografías -->
    <section class="seccion-galeria">
        <div class="container-fluid">
            <div class="row">
                <div class="nuestros-proyectos d-flex flex-column">
                    <h2 class="text-white" data-aos="fade-right" data-aos-duration="1000">NUESTROS PROYECTOS</h2>
                    <span class="servicios--linea" data-aos="fade-right" data-aos-duration="1500"></span>
                </div>
            </div>
        </div>

        <!-- Galería de fotografías -->
        <div class="gallery-container">
            <div class="gallery__item">
                <!-- Modal Inicio -->
                <a href="#" data-bs-toggle="modal" data-bs-target="#fotografia-modal-1">
                    <img class="gallery__img" src="../img/fotografia-tablero/InShot_20211126_104803778.jpg" alt="">
                </a>
            </div>

            <div class="gallery__item">
                <!-- Modal Inicio -->
                <a href="#" data-bs-toggle="modal" data-bs-target="#fotografia-modal-2">
                    <img class="gallery__img" src="../img/fotografia-tablero/InShot_20211126_104647072.jpg" alt="">
                </a>
            </div>
            

            <div class="gallery__item">
                <!-- Modal Inicio -->
                <a href="#" data-bs-toggle="modal" data-bs-target="#fotografia-modal-3">
                    <img class="gallery__img" src="../img/fotografia-tablero/InShot_20211125_112207483.jpg" alt="">
                </a>
            </div>

            <div class="gallery__item">
                <!-- Modal Inicio -->
                <a href="#" data-bs-toggle="modal" data-bs-target="#fotografia-modal-4">
                    <img class="gallery__img" src="../img/fotografia-tablero/InShot_20211126_104525202.jpg" alt="">
                </a>
            </div>

            <div class="gallery__item">
                <!-- Modal Inicio -->
                <a href="#" data-bs-toggle="modal" data-bs-target="#fotografia-modal-5">
                    <img class="gallery__img gallery__img__lentes" src="../img/fotografia-tablero/DSC01880.JPG" alt="">
                </a>
            </div>

            <div class="gallery__item">
                <!-- Modal Inicio -->
                <a href="#" data-bs-toggle="modal" data-bs-target="#fotografia-modal-6">
                    <img class="gallery__img" src="../img/fotografia-tablero/DSC01203.JPG" alt="">
                </a>
            </div>

            <div class="gallery__item">
                <!-- Modal Inicio -->
                <a href="#" data-bs-toggle="modal" data-bs-target="#fotografia-modal-7">
                    <img class="gallery__img" src="../img/fotografia-tablero/billetera.jpeg" alt="">
                </a>
            </div>

            <div class="gallery__item">
                <!-- Modal Inicio -->
                <a href="#" data-bs-toggle="modal" data-bs-target="#fotografia-modal-8">
                    <img class="gallery__img gallery__img__joya" src="../img/fotografia-tablero/joyas.jpeg" alt="">
                </a>
            </div>
        </div>
    </section>
                <!-- Modal Foto -->
                <div class="modal fade" id="fotografia-modal-1" tabindex="-1" aria-labelledby="fotografia-modal-1Label" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header modal-header__fotos">
                                <h5 class="modal-title text-center" id="fotografia-modal-1Label">Fotografía</h5>
                                <button type="button" class="btn-close btn-close__fotos" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <img src="../img/fotografia-tablero/InShot_20211126_104803778.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </div>
    
                <!-- Modal Foto -->
                <div class="modal fade" id="fotografia-modal-2" tabindex="-1" aria-labelledby="fotografia-modal-2Label" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header modal-header__fotos">
                                <h5 class="modal-title text-center" id="fotografia-modal-2Label">Fotografía</h5>
                                <button type="button" class="btn-close btn-close__fotos" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <img src="../img/fotografia-tablero/InShot_20211126_104647072.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </div>
    
            <!-- Modal Foto -->
                <div class="modal fade" id="fotografia-modal-3" tabindex="-1" aria-labelledby="fotografia-modal-3Label" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header modal-header__fotos">
                                <h5 class="modal-title text-center" id="fotografia-modal-3Label">Fotografía</h5>
                                <button type="button" class="btn-close btn-close__fotos" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <img src="../img/fotografia-tablero/InShot_20211125_112207483.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </div>
    
                <!-- Modal Foto -->
                <div class="modal fade" id="fotografia-modal-4" tabindex="-1" aria-labelledby="fotografia-modal-4Label" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header modal-header__fotos">
                                <h5 class="modal-title text-center" id="fotografia-modal-4Label">Fotografía</h5>
                                <button type="button" class="btn-close btn-close__fotos" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <img src="../img/fotografia-tablero/InShot_20211126_104525202.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </div>
    
                <!-- Modal Foto -->
                <div class="modal fade" id="fotografia-modal-5" tabindex="-1" aria-labelledby="fotografia-modal-5Label" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header modal-header__fotos">
                                <h5 class="modal-title text-center" id="fotografia-modal-5Label">Fotografía</h5>
                                <button type="button" class="btn-close btn-close__fotos" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <img src="../img/fotografia-tablero/DSC01880.JPG" alt="" class="gallery__img">
                        </div>
                    </div>
                </div>
    
                <!-- Modal Foto -->
                <div class="modal fade" id="fotografia-modal-6" tabindex="-1" aria-labelledby="fotografia-modal-6Label" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header modal-header__fotos">
                                <h5 class="modal-title text-center" id="fotografia-modal-6Label">Fotografía</h5>
                                <button type="button" class="btn-close btn-close__fotos" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <img src="../img/fotografia-tablero/DSC01203.JPG" alt="" class="gallery__img">
                        </div>
                    </div>
                </div>
    
                <!-- Modal Foto -->
                <div class="modal fade" id="fotografia-modal-7" tabindex="-1" aria-labelledby="fotografia-modal-7Label" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header modal-header__fotos">
                                <h5 class="modal-title text-center" id="fotografia-modal-7Label">Fotografía</h5>
                                <button type="button" class="btn-close btn-close__fotos" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <img src="../img/fotografia-tablero/billetera.jpeg" alt="" class="gallery__img">
                        </div>
                    </div>
                </div>
    
                <!-- Modal Foto -->
                <div class="modal fade" id="fotografia-modal-8" tabindex="-1" aria-labelledby="fotografia-modal-8Label" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header modal-header__fotos">
                                <h5 class="modal-title text-center" id="fotografia-modal-8Label">Fotografía</h5>
                                <button type="button" class="btn-close btn-close__fotos" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <img src="../img/fotografia-tablero/joyas.jpeg" alt="" class="gallery__img">
                        </div>
                    </div>
                </div>

    <!-- Sección de cards -->
    <section class="seccion-galeria">
        <div class="container-fluid">
            <div class="row">
                <div class="nuestros-proyectos d-flex flex-column">
                    <h2 class="text-white" data-aos="fade-right" data-aos-duration="1000">PAQUETES</h2>
                    <span class="servicios--linea" data-aos="fade-right" data-aos-duration="1500"></span>
                </div>
            </div>
        </div>
        <!-- Cards -->
        <div class="container-cards p-3 d-flex">
            <!-- Cards Solo se visualiza en Desktop -->
            <div class="container cards__desktop">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-12">
                        <div class="card card__package card__package__fotografia">
                            <img src="../img/pexels-pnw-production-7062062.jpg" class="card-img-top rounded card__package__img"
                                alt="...">
                            <div class="card-package-promo d-flex justify-content-center align-items-center">
                                <p class="card-text card__package__titulo">MUESTRA TU PRODUCTO</p>
                            </div>
                            <div class="card-body d-flex flex-column justify-content-center">
                                <p class="card-text text-center card__package__texto">Fotografía de productos</p>
                                <p class="card-text text-center card__package__texto">Fotografía del local físico</p>
                                <p class="card-text text-center card__package__texto">Edición de fotografía</p>
                            </div>
                            <div class="card-footer d-flex justify-content-center align-items-center">
                                <a href="#" class="btn btn-package text-white text-uppercase fw-bold">contactanos</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-12">
                        <div class="card card__package card__package__fotografia">
                            <img src="../img/pexels-pnw-production-7062062.jpg" class="card-img-top rounded card__package__img"
                                alt="...">
                            <div class="card-package-promo d-flex justify-content-center align-items-center">
                                <p class="card-text card__package__titulo">PACK FOTOGRAFÍA</p>
                            </div>
                            <div class="card-body d-flex flex-column justify-content-center">
                                <p class="card-text text-center card__package__texto">Sesión fotográfica duración 2 horas</p>
                                <p class="card-text text-center card__package__texto">Edición de las fotografías con marca de agua de la marca</p>
                                <p class="card-text text-center card__package__texto">16 fotos para historias</p>                                                                
                                <p class="card-text text-center card__package__texto">8 fotos para muro</p>                                                                
                            </div>
                            <div class="card-footer d-flex justify-content-center align-items-center">
                                <a href="#" class="btn btn-package text-white text-uppercase fw-bold">contactanos</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Cards Mobile y Tablet -->
            <div class="container cards__mobile">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="card card__package card__package__fotografia">
                            <img src="../img/pexels-pnw-production-7062062.jpg" class="card-img-top rounded card__package__img"
                                alt="...">
                            <div class="card-package-promo d-flex justify-content-center align-items-center">
                                <p class="card-text card__package__titulo">MUESTRA TU PRODUCTO</p>
                            </div>
                            <div class="card-body d-flex flex-column justify-content-center">
                                <p class="card-text text-center card__package__texto">Fotografía de productos</p>
                                <p class="card-text text-center card__package__texto">Fotografía del local físico</p>
                                <p class="card-text text-center card__package__texto">Edición de fotografía</p>
                            </div>
                            <div class="card-footer d-flex justify-content-center align-items-center">
                                <a href="#" class="btn btn-package text-white text-uppercase fw-bold">contactanos</a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card card__package card__package__fotografia">
                            <img src="../img/pexels-pnw-production-7062062.jpg" class="card-img-top rounded card__package__img"
                                alt="...">
                            <div class="card-package-promo d-flex justify-content-center align-items-center">
                                <p class="card-text card__package__titulo">PACK FOTOGRAFÍA</p>
                            </div>
                            <div class="card-body d-flex flex-column justify-content-center">
                                <p class="card-text text-center card__package__texto">Sesión fotográfica duración 2 horas</p>
                                <p class="card-text text-center card__package__texto">Edición de las fotografías con marca de agua de la marca</p>
                                <p class="card-text text-center card__package__texto">16 fotos para historias</p>                                                                
                                <p class="card-text text-center card__package__texto">8 fotos para muro</p>                                                                
                            </div>
                            <div class="card-footer d-flex justify-content-center align-items-center">
                                <a href="#" class="btn btn-package text-white text-uppercase fw-bold">contactanos</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="cajaFooter p-5">
                    <div class="col-lg-4 d-flex justify-content-center">
                        <a href="#"><img class="logo-footer sombra" src="../img/logo.png"
                                alt="Logo de De Social Media"></a>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center">
                        <h6 class="text-white text-center">De Social Media &copy; - Todos los derechos reservados</h6>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center">
                        <div class="logosSocialesContainer">
                            <a href="#"><i class="fab fa-whatsapp redes-sociales"></i></a>
                            <a href="#"><i class="fab fa-instagram redes-sociales"></i></a>
                            <a href="#"><i class="fab fa-facebook redes-sociales"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in redes-sociales"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Enlace a JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Enlace a Owl Carousel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Enlace a AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- Enlace a JavaScript de bootstrap local -->
    <script src="../assets/bootstrap/js/bootstrap.js"></script>
    <!-- Enlace a Javascript Propio -->
    <script src="../assets/js/main.js"></script>
</body>

</html>