/***** Estilos generales *****/
* {
  margin: 0px;
  padding: 0px; 
  box-sizing: border-box;
}

/***** Variables globales en SASS *****/
/** Variables de colores personalizados **/
$colorGrisFuerte: #3c4146; //sombras y titulos
$colorGrisClarito: #ccc; //sombras y titulos
$colorGrisIntermedio: #a8a8a8; //sombras y titulos
$colorMarronGris: #484848; //sombras y titulos
$colorNaranjaClaro: #ffbe50; //naranja claro para algunos titulos y sombras
$colorNaranjaFogata: rgba(255, 146, 3, 0.8); //naranja fogata para algunas sombras y titulos
$colorAzulFuerte: rgb(13, 5, 90);
$colorAzulClarito: #37bcf9;
$colorAzulPetroleo: #00538c;

/*Variables de colores de Bootstrap*/
$colorDark: #212529;
$colorLight: #f8f9fa;
$colorSuccess: #198754;
$colorinfo: #0dcaf0;
$colorWarning: #ffc107;
$colorDanger: #dc3545;
$colorPrimary: #0d6efd;
$colorSecondary: #6c757d;

/*colores a elegir para trabajar:*/
$colorUno: #212529;
$colorDos: #00538c;
$colorTres: #37bcf9;
$colorCuatro: #ccc;
$colorCinco: #a8a8a8;
$colorSeis: #484848;
$colorSiete: rgb(13, 5, 90);

/** Variables de fuentes de letras **/
$fuenteUno: "Nunito", sans-serif;
$fuenteDos: "Open Sans", sans-serif;
$fuenteTres: "WebSymbolsRegular";

/***** Fuentes de letras *****/
@font-face{
    font-family: "WebSymbolsRegular";
    src: url(../fonts/webSymbols/websymbols-regular-webfont.eot),
         url(../fonts/webSymbols/websymbols-regular-webfont.eot?#iefix) format("embedded-opentype"),
         url(../fonts/webSymbols/websymbols-regular-webfont.ttf) format("truetype"),
         url("../fonts/webSymbols/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}

// @font-face { 
//   font-family: gilroy; src: url('../assets/fonts/Gilroy-Light.otf'); 
// } 

// @font-face { 
//   font-family: gilroy; 
//   font-weight: bold; 
//   src: url('../assets/fonts/Gilroy-ExtraBold.otf'); 
// }

// body {
//   font-family: gilroy;
//   background-color: rgb(45, 45, 45);
// }

/********** Clases para el header **********/
header {
  min-height: 100vh;
  position: relative;
}

/********** Clases del NAV **********/
.logo{
  min-height: 14vh;
}

.sombra{
  box-shadow: 2px 2px 5px #acabab;
}

#mainNav {
  padding-bottom: 1rem;
  background-color: #212529;
}

#mainNav .navbar-toggler {
  padding: 0.75rem;
  font-size: 0.75rem;
  font-family: gilroy;
  text-transform: uppercase;
  font-weight: 700;
}

#mainNav .navbar-brand {
  color: white;
  font-family: gilroy;
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

#mainNav .navbar-brand img {
  height: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-family: gilroy;
  font-weight: bold;
  font-size: 0.95rem;
  letter-spacing: 0.0625em;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
  color: rgb(254,96,96);
}

/********** media query para uso del nav **********/
@media only screen and (min-width: 992px) {
  #mainNav {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border: none;
      background-color: transparent;
      transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
      font-size: 2rem;
      transition: font-size 0.3s ease-in-out;
  }
  #mainNav .navbar-brand img {
      height: 2rem;
      transition: height 0.3s ease-in-out;
  }
  #mainNav.navbar-shrink {
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
      background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.5rem;
  }
  #mainNav.navbar-shrink .navbar-brand svg,
  #mainNav.navbar-shrink .navbar-brand img {
      height: 1.5rem;
  }
  #mainNav .navbar-nav .nav-item {
      margin-right: 1rem;
  }
  #mainNav .navbar-nav .nav-item:last-child {
      margin-right: 0;
  }
}
.navbar-collapse {
  text-align: center;
}
.navbar-brand p{
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
  transition-property: transform;
  transition-duration: 0.2s;
}
.navbar-brand p:hover {
  transform: scale(1.1);
}
.nav-item .nav-link {
  transition-property: transform;
  transition-duration: 0.2s;
}
.nav-item .nav-link:hover {
  transform: scale(1.1);
}
.activo {
  color: rgb(254,96,96) !important;
}
/********** FIN NAV **********/

/********** video home **********/
.video__header video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

/********** Clases para cada sección **********/
#seccion-1 {
  min-height: 100vh;
}
#seccion-2 {
  min-height: 100vh;
}
#seccion-3 {
  min-height: 50vh;
}

/********** Clases para Contactanos **********/
.contactanos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/********** Clases del footer **********/
.cajaFooter{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo-footer{
  width: 5vw;
}

.redes-sociales{
  width: 5vw;
  margin: 0 1rem 0 0;
}

/********** Vista tablet **********/
@media(max-width: 991.98px){   
  
  /*Sección de contactanos*/
  .contactanos{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  header {
      min-height: 33.5rem;
  }
  p {
      font-size: 1.2rem;
  }
  .video__header video {
      width: 105%;
      top: 20rem;
  }
  
}

/********** Vista ... especiales **********/
@media(max-width: 767px){

  header {
      min-height: 23.5rem;
  }
  .video__header video {
      width: 150%;
      top: 15rem;
  }
  /********** Contactanos **********/
  .contactanos{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  /********** Footer **********/
  .cajaFooter{
    flex-direction: column;
  }
  .logo-footer{
    margin-bottom: 1.5rem;
    width: 10vw;
  }
  .redes-sociales{
    margin: 1rem;
    width: 7vw;
  }
}

/********** Vista Mobile **********/
@media(max-width: 575.98px){
  .logo-footer{
    width: 20vw;
  }
  .redes-sociales{
    margin: 1rem;
    width: 10vw;
  }
}
