@charset "UTF-8";
/***** Estilos generales *****/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/***** Variables globales en SASS *****/
/** Variables de colores personalizados **/
/*Variables de colores de Bootstrap*/
/*colores a elegir para trabajar:*/
/** Variables de fuentes de letras **/
/***** Fuentes de letras *****/
@font-face {
  font-family: "WebSymbolsRegular";
  src: url(../fonts/webSymbols/websymbols-regular-webfont.eot), url(../fonts/webSymbols/websymbols-regular-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/webSymbols/websymbols-regular-webfont.ttf) format("truetype"), url("../fonts/webSymbols/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/********** Clases para el header **********/
header {
  min-height: 100vh;
  position: relative; }

/********** Clases del NAV **********/
.logo {
  min-height: 14vh; }

.sombra {
  box-shadow: 2px 2px 5px #acabab; }

#mainNav {
  padding-bottom: 1rem;
  background-color: #212529; }

#mainNav .navbar-toggler {
  padding: 0.75rem;
  font-size: 0.75rem;
  font-family: gilroy;
  text-transform: uppercase;
  font-weight: 700; }

#mainNav .navbar-brand {
  color: white;
  font-family: gilroy;
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase; }

#mainNav .navbar-brand img {
  height: 1.5rem; }

.navbar-dark .navbar-nav .nav-link {
  color: white; }

#mainNav .navbar-nav .nav-item .nav-link {
  font-family: gilroy;
  font-weight: bold;
  font-size: 0.95rem;
  letter-spacing: 0.0625em; }

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show > .nav-link {
  color: #fe6060; }

/********** media query para uso del nav **********/
@media only screen and (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    background-color: transparent;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out; }
  #mainNav .navbar-brand {
    font-size: 2rem;
    transition: font-size 0.3s ease-in-out; }
  #mainNav .navbar-brand img {
    height: 2rem;
    transition: height 0.3s ease-in-out; }
  #mainNav.navbar-shrink {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: #212529; }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5rem; }
  #mainNav.navbar-shrink .navbar-brand svg,
  #mainNav.navbar-shrink .navbar-brand img {
    height: 1.5rem; }
  #mainNav .navbar-nav .nav-item {
    margin-right: 1rem; }
  #mainNav .navbar-nav .nav-item:last-child {
    margin-right: 0; } }

.navbar-collapse {
  text-align: center; }

.navbar-brand p {
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
  transition-property: transform;
  transition-duration: 0.2s; }

.navbar-brand p:hover {
  transform: scale(1.1); }

.nav-item .nav-link {
  transition-property: transform;
  transition-duration: 0.2s; }

.nav-item .nav-link:hover {
  transform: scale(1.1); }

.activo {
  color: #fe6060 !important; }

/********** FIN NAV **********/
/********** video home **********/
.video__header video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1; }

/********** Clases para cada sección **********/
#seccion-1 {
  min-height: 100vh; }

#seccion-2 {
  min-height: 100vh; }

#seccion-3 {
  min-height: 50vh; }

/********** Clases para Contactanos **********/
.contactanos {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

/********** Clases del footer **********/
.cajaFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.logo-footer {
  width: 5vw; }

.redes-sociales {
  width: 5vw;
  margin: 0 1rem 0 0; }

/********** Vista tablet **********/
@media (max-width: 991.98px) {
  /*Sección de contactanos*/
  .contactanos {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center; }
  header {
    min-height: 33.5rem; }
  p {
    font-size: 1.2rem; }
  .video__header video {
    width: 105%;
    top: 20rem; } }

/********** Vista ... especiales **********/
@media (max-width: 767px) {
  header {
    min-height: 23.5rem; }
  .video__header video {
    width: 150%;
    top: 15rem; }
  /********** Contactanos **********/
  .contactanos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  /********** Footer **********/
  .cajaFooter {
    flex-direction: column; }
  .logo-footer {
    margin-bottom: 1.5rem;
    width: 10vw; }
  .redes-sociales {
    margin: 1rem;
    width: 7vw; } }

/********** Vista Mobile **********/
@media (max-width: 575.98px) {
  .logo-footer {
    width: 20vw; }
  .redes-sociales {
    margin: 1rem;
    width: 10vw; } }
